@model OrchardCore.StripePayment.StripePayments.ViewModels.StripePaymentFormViewModel;

<input type="hidden" value="@Model.PaymentIntentClientSecret" id="paymentIntentClientSecret" />
<input type="hidden" value="@Model.StripePublishableAPIKey" id="tripePublishableAPIKey" />
<div>
    @await DisplayAsync(@Model.Shape)
</div>